<main class="container">
    <div class="card__container">
        <div class="card">
            <div class="card-wrapper">
                <h2 id="proj01">Projeto 1</h2>
                <p id="proj001">Confira o codigo no GitHub</p>
            </div>
        </div>
        <div class="card__text">
            <h2>Bpress - Blog para criação de artigos</h2>
            O projeto é basicamente um site em formato de blog onde os usuários podem criar e
             acessar vários artigos que possuem suas categorias, o blog possui um sistema de 
             login para administrador onde o adm tem controle total.Foi feito com o 
             padrão MVC (Model-View-Controller), utilizamos um Middleware para fazer a 
             autenticação do o usuário esta logado, tinymce para poder deixar a area de criação 
             de artigo mais dinamica.
            <h2></h2>
            <a href="https://github.com/Patovini/Bpress">Link para o codigo</a>
        </div>
    </div>
    <div class="card__container">
        <div class="card2">
            <div class="card-wrapper">
                <h2>Projeto 2</h2>
                <p>Confira o codigo no GitHub</p>
            </div>
        </div>
        <div class="card__text">
            <h2>Clone da Netflix</h2>
            O projeto se constitui em fazer um clone da home page na netflix onde
            utilizei as ferramentas Font awesome e Owl Carousel para tentar deixar a pagina mais realista.
            <h2></h2>
            <a href="https://github.com/Patovini/CloneNetflix">Link para o codigo</a>         
        </div>
    </div>
    <div class="card__container">
        <div class="card3">
            <div class="card-wrapper">
                <h2>Projeto 3</h2>
                <p>Confira o codigo no GitHub</p>
            </div>
        </div>
        <div class="card__text">
            <h2>Clone do Spotify</h2>
            Clone do Spotify feito apenas com HTML,CSS E JS. Projeto foi desenvolvido 
            para treinar um pouco de CSS, JS e aprender como colocar audio em uma aplicação.
            Projeto simples onde temos dois audios com botões de pause e play funcionando.
            <h2></h2>
            <a href="https://github.com/Patovini/SpotifyClone">Link para o codigo</a>
        </div>
    </div>

</main>