.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0;
}

.card__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border-color: #1E1E2A;
    border-style: solid;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00bfff;
    background-image: url('/assets/img/Projeto_BPress.PNG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1E1E2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.card2{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border-color: #1E1E2A;
    border-style: solid;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00bfff;
    background-image: url('/assets/img/Projeto_Clone_Netflix.PNG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1E1E2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.card3{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border-color: #1E1E2A;
    border-style: solid;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00bfff;
    background-image: url('/assets/img/Projeto_Spotify.PNG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1E1E2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card__text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card__text h2{
    width: 60%;
    color: rgb(80, 80, 80);
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border:1px solid #ffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
    letter-spacing: 4px;
    transition: 0.5 ease-in-out;
}

.card-wrapper #proj01{
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
    color: #1E1E2A;
    letter-spacing: 4px;
    transition: 0.5 ease-in-out;
}

.card-wrapper #proj001{
    font-size: 0;
    visibility: hidden;
    color: #1E1E2A;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
}

.card-wrapper p{
    font-size: 0;
    visibility: hidden;
    color: #ffffff;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
.card:hover > .card-wrapper #proj001{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

/* ---------------------------------------------------- */
.card2:hover{
    filter: unset;
}

.card2:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card2:hover > .card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

/* ---------------------------------------------------- */
.card3:hover{
    filter: unset;
}

.card3:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card3:hover > .card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
