<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-allign-center p-flex-justify-sb">
                <ul>
                    <li>
                        <img src="/assets/img/duck.png" width="40" >
                    
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="portifolio">Portifolio</a>
                    </li>
                    <li>
                        <a href="#">Contatos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
